@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

html,
body {
  font-family: "Red Hat Display", sans-serif;
}

body {
  height: 100vh;
  background-color: var(--Light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 626px;
  border-radius: 30px;
  background-color: white;
  display: flex;

  align-items: center;
  flex-direction: column;
}

.intro {
  color: var(--Dark-blue);
  margin-top: 30px;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

.qrcode {
  margin: 30px 40px 0 40px;
  border-radius: 30px;
}

.desc {
  text-align: center;
  padding: 10px;
  color: var(--Light-gray);
  font-size: 1.25rem;
  margin-bottom: 30px;
  font-weight: 600;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 326px;
    border-radius: 30px;
    background-color: white;
    display: flex;

    align-items: center;
    flex-direction: column;
  }
  .qrcode {
    width: 300px;
  }
}
